@include media-breakpoint-up(desktop)
    body:where(:not(.full-width)) main .block-pages--large .pages article
        *[class$="-title"]
            background: var(--color-accent)
            padding: $spacing-4
            font-size: var(--h3-size)
            a
                color: var(--color-background)

        *[class$="-content"]
            width: columns(8)
        .page-description
            padding: $spacing-3 $spacing-4
        .media
            width: columns(8)
            overflow: hidden
            background: var(--color-accent)
            picture
                width: columns(5)
                &::before
                    border-bottom: solid 1px var(--color-accent)

.block-call_to_action .call_to_action .description p
    font-size: $h3-size-desktop

.block-pages--large .pages .page .media img
    aspect-ratio: 0

.block-pages--large .pages .page .more
    color: var(--color-accent)

.block .block-title
    text-transform: none

.block-title h2::after
    display: block
    with: 100%
    content: ''
    border-bottom: solid 4px var(--color-accent)
    padding-bottom: 1rem

.block .block-title
    font-weight: bold
    a
        color: var(--color-accent)
