.block-pages--large .pages article
    flex-direction: column
    gap: 0

@include media-breakpoint-up(desktop)
    body:where(:not(.full-width)) main .block-pages--large .pages article
        *[class$="-title"]
            background: var(--color-accent)
            padding: $spacing-4
            font-size: var(--h3-size)
            a
                color: var(--color-background)

        *[class$="-content"]
            width: columns(8)
        .page-description
            padding: $spacing-3 $spacing-4
        .media
            width: columns(8)
            overflow: hidden
            background: var(--color-accent)
            picture
                position: relative
                width: columns(5)
                &::after
                    content: ''
                    position: absolute
                    top: 12rem
                    right: 25%
                    display: block
                    background: url('/assets/images/shape-1.svg')
                    background-repeat: no-repeat
                    width: 3rem
                    height: 2rem
                    transform: rotate(152deg) scale(10.5)

    .block-pages--large .pages .page .media img
        aspect-ratio: 0
