$color-dark-blue: #030672
$color-blue: #0041AA
$color-accent: $color-blue

$font-bricolage: "BricolageGrotesque", sans-serif
$font-arial: "Arial", sans-serif
$heading-font-family: $font-bricolage
$body-font-family: $heading-font-family

$h1-weight: normal
$h1-line-height: 110%
$h1-font-family: $font-bricolage
$h2-font-family: $font-bricolage
$quote-font-family: $font-bricolage
$quote-line-height: 140%
$quote-size: pxToRem(28)
$quote-size-desktop-short: pxToRem(30)
$quote-size-desktop-long: pxToRem(30)
$quote-letter-spacing: -2%

$header-background: $color-blue
$header-color: white
$header-border-bottom-width: 0
$header-dropdown-full: true
$header-dropdown-background: $color-blue
$header-dropdown-color: white
$header-sticky-background: $color-blue
$header-sticky-color: white
$header-logo-height: 50px
$header-logo-height-desktop: 60px
$hero-height: auto
$hero-background-color: none
$footer-background-color: $color-blue
$footer-color: white
$footer-logo-height: 120px
$footer-logo-height-desktop: 180px
