$color-dark-blue: #030672
$color-blue: #0041AA
$color-blue-light: #AAE2FF
$color-accent: $color-blue

$font-bricolage: "BricolageGrotesque", sans-serif
$heading-font-family: $font-bricolage
$body-font-family: $heading-font-family

$h1-weight: normal
$h1-line-height: 110%
$h1-font-family: $font-bricolage
$h2-font-family: $font-bricolage
$quote-font-family: $font-bricolage
$quote-line-height: 140%
$quote-size: pxToRem(28)
$quote-size-desktop-short: pxToRem(30)
$quote-size-desktop-long: pxToRem(30)
$quote-letter-spacing: -2%

$header-background: $color-blue
$header-color: white
$header-border-bottom-width: 0
$header-dropdown-full: true
$header-dropdown-background: $color-blue
$header-dropdown-color: white
$header-sticky-background: $color-blue
$header-sticky-color: white
$header-logo-height: 50px
$header-logo-height-desktop: 60px
$hero-height: auto
$hero-background-color: none
$footer-background-color: $color-blue
$footer-color: white
$footer-logo-height: 140px
$footer-logo-height-desktop: 180px

$toc-background-color: $color-blue-light

// Font sizes
$h1-size-desktop: pxToRem(50)
$h2-size-desktop: pxToRem(32)
$h3-size-desktop: pxToRem(22)
$h4-size-desktop: pxToRem(20)

/* Générales */
$body-size-desktop: px2rem(18)
$body-size: px2rem(16)

/* Lead */
$lead-sidebar-size-desktop: pxToRem(24)
$lead-hero-size-desktop: $lead-sidebar-size-desktop

$block-call-to-action-accent-background: $color-blue-light
$block-call-to-action-accent-color: $color-dark-blue
