// Réduire la taille des typo de la description des titres
.hero .content h1 > span
  font-size: 75%
  font-weight: $body-weight
  line-height: 1.2

.hero
  min-height: auto
  padding-bottom: 0

body.full-width .block-pages--list .pages:where(:not(.title-only)) article [class$="-subtitle"]
  font-weight: $body-weight
  font-size: var(--h4-size)
  line-height: 1.4

.page .page-subtitle,
.post .post-subtitle,
.project .project-content .project-subtitle,
  font-weight: $body-weight
  font-size: var(--h4-size)
  line-height: 1.4

body main
  overflow: hidden

body.page-shape .hero
  position: relative

body.page-shape .hero picture
  position: absolute
  right: -36%
  top: 0
  margin-top: -10rem
  width: 680px
  height: 680px
  pointer-events: none
  will-change: transform
  opacity: .25

.organization picture
  mix-blend-mode: multiply

// FOOTER
footer#document-footer .container > * + *
  margin-top: 2rem

footer#document-footer
  padding-top: 2rem

@media (min-width: 992px)
  footer#document-footer .container
    padding-bottom: 0

  footer#document-footer .container:has(.footer-site)
    gap: 0

  footer#document-footer .container + .container
    padding-top: 0

  footer#document-footer .container
    justify-content: space-between

  footer#document-footer .container > * + *
    margin-top: 0
